<router-outlet></router-outlet>

<app-header></app-header>

<!--PROGRESS-->

<div class="w-full h-24 justify-between items-center flex bg-white border-b-gray-200 border-b-2">
  <div class="w-full flex items-center">
    <fa-icon class="rounded bg-gray-200 mx-10 p-3 text-blue-700" [icon]="faFeather"></fa-icon>
    <div class="flex flex-col w-1/2">
      <p class="mb-1">Write an articule about Vue.js</p>
      <div class="flex justify-between mb-1">
        <span class="text-sm font-medium text-blue-700">33%</span>
      </div>
      <div class="bg-gray-200 rounded-full h-2.5">
        <div class="bg-blue-600 h-2.5 rounded-full" style="width: 33%"></div>
      </div>
    </div>
  </div>
  <div class="flex -space-x-2 rtl:space-x-reverse w-44">
    <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person1.png" alt="">
    <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person2.png" alt="">
    <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person3.png" alt="">
    <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 " href="#">+2</a>
  </div>
  <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 w-40">Add Member</button>
</div>

<!--LINE UP-->

<div class="flex flex-col w-full items-center mt-4">
  <div class="flex flex-col w-4/5 align-middle">
    <div class="mb-3">
      <p class="text-2xl font-semibold text-black">LineUp<sup> (2)</sup></p>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div id="card">
        <a href="#" class="border-l-pink-500 border-l-8 block max-w-sm p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
          <h5 class="mb-1 text-base font-bold tracking-tight text-gray-900">Noteworthy technology acquisitions 2021</h5>
          <p class="font-normal text-sm text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
          <div class="mt-3 border-t-2 border-gray-200">
            <div class="flex -space-x-2 rtl:space-x-reverse w-44 mt-3">
              <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person1.png" alt="">
            </div>
          </div>
        </a>
      </div>
      <div id="card">
        <a href="#" class="border-l-lime-300 border-l-8 block max-w-sm p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
          <h5 class="mb-1 text-base font-bold tracking-tight text-gray-900">Noteworthy technology acquisitions 2021</h5>
          <p class="font-normal text-sm text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
          <div class="mt-3 border-t-2 border-gray-200">
            <div class="flex -space-x-2 rtl:space-x-reverse w-44 mt-3">
              <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person2.png" alt="">
              <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person3.png" alt="">
            </div>
          </div>
        </a>
      </div>
      <button type="button" class="block max-w-sm p-2 border-dashed border-blue-300 border-2 shadow hover:bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 w-40">Add Task</button>
    </div>
  </div>
</div>

<!--Trending-->

<div class="flex flex-col w-full items-center mt-4">
  <div class="flex flex-col w-4/5 align-middle">
    <div class="mb-3">
      <p class="text-2xl font-semibold text-black">Trending<sup> (3)</sup></p>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div id="card">
        <a href="#" class="border-l-lime-300 border-l-8 block max-w-sm p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
          <h5 class="mb-1 text-base font-bold tracking-tight text-gray-900">Noteworthy technology acquisitions 2021</h5>
          <p class="font-normal text-sm text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
          <div class="mt-3 border-t-2 border-gray-200">
            <div class="flex -space-x-2 rtl:space-x-reverse w-44 mt-3">
              <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person4.png" alt="">
              <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person6.png" alt="">
              <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person2.png" alt="">
            </div>
          </div>
        </a>
      </div>
      <div id="card">
        <a href="#" class="border-l-blue-600 border-l-8 block max-w-sm p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
          <h5 class="mb-1 text-base font-bold tracking-tight text-gray-900">Noteworthy technology acquisitions 2021</h5>
          <p class="font-normal text-sm text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
          <div class="mt-3 border-t-2 border-gray-200">
            <div class="flex -space-x-2 rtl:space-x-reverse w-44 mt-3">
              <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person5.png" alt="">
              <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person4.png" alt="">
            </div>
          </div>
        </a>
      </div>
      <div id="card">
        <a href="#" class="border-l-gray-500 border-l-8 block max-w-sm p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
          <h5 class="mb-1 text-base font-bold tracking-tight text-gray-900">Noteworthy technology acquisitions 2021</h5>
          <p class="font-normal text-sm text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
          <div class="mt-3 border-t-2 border-gray-200">
            <div class="flex -space-x-2 rtl:space-x-reverse w-44 mt-3">
              <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person2.png" alt="">
              <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person3.png" alt="">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col w-full items-center mt-4">
  <div class="flex flex-col w-4/5 align-middle">
    <div class="mb-3">
      <p class="text-2xl font-semibold text-black">MyWork<sup> (3)</sup></p>
    </div>
    <div class="mb-3 flex">
      <a type="button" class="mr-3 rounded-3xl inline-flex items-center px-2 py-1 text-sm font-medium text-center text-white bg-blue-700  focus:ring-4 focus:outline-none focus:ring-white ">
        To do
        <span class="p-4 inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-semibold text-blue-800 bg-white rounded-full">
        15
        </span>
      </a>
      <a type="button" class="mr-3 rounded-3xl inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-black  focus:ring-4 focus:outline-none focus:ring-blue-300">
        Comments
        <span class="p-4 inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
        2
        </span>
      </a>
      <a type="button" class="mr-3 rounded-3xl inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-black focus:ring-4 focus:outline-none focus:ring-blue-300">
        Done
        <span class="p-4 inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
        15
        </span>
      </a>
      <a type="button" class="mr-3 rounded-3xl inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-black focus:ring-4 focus:outline-none focus:ring-blue-300">
        Delegate
        <span class="p-4 inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
        4
        </span>
      </a>
    </div>
    <div class="">
      <div id="card" class="mb-3">
        <a href="#" class="flex justify-between border-l-red-600 border-l-8 w-4/5 p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
          <div class="flex flex-col">
            <h5 class="mb-1 text-base font-normal tracking-tight text-gray-400">Publications/Shots/Dribbble</h5>
            <p class="font-bold text-base text-gray-700">Dribble: Banking app shot</p>
          </div>
          <p class="mt-3">1/10</p>
          <div class="flex -space-x-2 rtl:space-x-reverse w-44 mt-1">
            <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person1.png" alt="">
            <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person5.png" alt="">
            <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person4.png" alt="">
          </div>
          <p class="mt-3">July, 22</p>
          <svg class="w-10 h-10 text-gray-900 mt-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M6 12h0m6 0h0m6 0h0"/>
          </svg>
        </a>
      </div>
      <div id="card" class="mb-3">
        <a href="#" class="flex justify-between border-l-blue-600 border-l-8 w-4/5 p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
          <div class="flex flex-col">
            <h5 class="mb-1 text-base font-normal tracking-tight text-gray-400">Publications/Shots/Dribbble</h5>
            <p class="font-bold text-base text-gray-700">Behance: Mobile delivery app</p>
          </div>
          <p class="mt-3">1/12</p>
          <div class="flex -space-x-2 rtl:space-x-reverse w-44 mt-1">
            <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person2.png" alt="">
            <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person3.png" alt="">
          </div>
          <p class="mt-3">July, 24</p>
          <svg class="w-10 h-10 text-gray-900 mt-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M6 12h0m6 0h0m6 0h0"/>
          </svg>
        </a>
      </div>
      <div id="card" class="mb-3">
        <a href="#" class="flex justify-between border-l-orange-400 border-l-8 w-4/5 p-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
          <div class="flex flex-col">
            <h5 class="mb-1 text-base font-normal tracking-tight text-gray-400">Publications/Shots/Dribbble</h5>
            <p class="font-bold text-base text-gray-700">Behance: Mobile delivery app</p>
          </div>
          <p class="mt-3">1/14</p>
          <div class="flex -space-x-2 rtl:space-x-reverse w-44 mt-1">
            <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person6.png" alt="">
            <img class="w-10 h-10 border-2 border-white rounded-full" src="./assets/person1.png" alt="">
            <a class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 " href="#">+2</a>
          </div>
          <p class="mt-3">July, 26</p>
          <svg class="w-10 h-10 text-gray-900 mt-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M6 12h0m6 0h0m6 0h0"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>